<html>
<body>
<% include menu %>

<h1>Account details</h1>

<ul>
<li>id: <%= user.id %></li>
<li>username: <%= user.username %></li>
<li>password: <%= user.password %></li>
<li>email: <%= user.email %></li>
</ul>

</html>
</body>
